:80 {
	log
	root * /srv
	encode gzip zstd

	header Cross-Origin-Opener-Policy same-origin
	header Cross-Origin-Embedder-Policy require-corp

	@wasm path *.wasm
	header @wasm Content-Type application/wasm

	rewrite /games /games.json
	rewrite /docs /docs.json

	file_server
}
