
.control-container {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    z-index: 988;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
    gap: 2rem;
    right: -100%;
    bottom: -15%;

    transition: 1s ease-in-out all;
}



.control-container.active{
    right: 0;
}

.control-container.updating {
    right: 0;
    bottom: 25%;
}


.Joypad {
   
    height: 35%;
    aspect-ratio: 4.8/2;
    align-self: center;
    z-index: 100;
    background-color: #B5AFA0;


    padding: 3.5rem;
    padding-top: 4rem;
    box-shadow:
        inset 4px 4px 0px rgba(255, 255, 255, 0.7),
        inset -4px -4px 0px rgba(0, 0, 0, 0.35),
        6px 6px 0px #000,
        8px 8px 0px #555;

    background-image:  repeating-linear-gradient(
      0deg,
      transparent 0px,
      transparent 3px,
      rgba(0, 0, 0, 0.12) 3px,
      rgba(0, 0, 0, 0.12) 6px
    );

    pointer-events: all;

    transition: all ease-in-out 1.2s;
}

.update-panel{
    width: 52%;
    height: 13%;
    border-radius: 10px;
    background-color: #FFEDD8;
    align-self: center;
    
    opacity: 0;
    transition: 1s ease opacity;
}

.view-1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-1 h1{
    font-size: 2rem;
}

.update-panel.active {
    opacity: 100%;
}

.update-corners,
.update-corners--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
  position: relative;
}
.update-corners {
  border: 8px solid transparent;
}
.update-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.update-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(8px 24px,
    12px 24px,
    12px 16px,
    16px 16px,
    16px 12px,
    24px 12px,
    24px 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 12px,
    calc(100% - 16px) 12px,
    calc(100% - 16px) 16px,
    calc(100% - 12px) 16px,
    calc(100% - 12px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 12px),
    16px calc(100% - 12px),
    16px calc(100% - 16px),
    12px calc(100% - 16px),
    12px calc(100% - 24px),
    8px calc(100% - 24px));
}
.update-corners::after,
.update-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    8px 50%,
    8px 24px,
    12px 24px,
    12px 16px,
    16px 16px,
    16px 12px,
    24px 12px,
    24px 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 12px,
    calc(100% - 16px) 12px,
    calc(100% - 16px) 16px,
    calc(100% - 12px) 16px,
    calc(100% - 12px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 12px),
    16px calc(100% - 12px),
    16px calc(100% - 16px),
    12px calc(100% - 16px),
    12px calc(100% - 24px),
    8px calc(100% - 24px),
    8px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #5F374B;
  display: block;
  pointer-events: none;
}
.update-corners::after {
  margin: -8px;
}


.Joypad.active{
    /* display: block; */
    transform: translateX(0) translateY(42%);
}

.Joypad.centered{
  display: block;
  align-self: center;
/* transform: translate(0, -60%);  */
}

.Joypad-inner {
    height: 100%;
    width: 100%;
    background-color: #4A4845;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='13' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.2'/%3E%3C/svg%3E");
    border-radius: 7px;
    display: flex;
    flex-direction: row;
}



.control-section {
    height: 100%;
    width: 30%;

    position: relative;
    display: flex;
    flex-direction: column;
}

.decoration {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
}

.decobox {
    width: 100%;
    height: 22%;
    background-color: #7C726A;
    border-radius: 7px;
}


.control-buttons {
    height: 25%;
    background-color: #bab7b0;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#control-update {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    
    border: #8c1f1c 6px solid;
    height: 30%;

   
    background-color: #6b6664;
    color: #000000;           
    cursor: pointer;          
    user-select: none;        
    
    
    box-shadow: 0 6px 0 #54100e; 
    
    
    transform: translateY(0);
    transition: transform 0.05s ease, box-shadow 0.05s ease;
}

#control-update:hover {
    filter: brightness(1.2);
}

#control-update:active {
    box-shadow: 0 2px 0 #54100e;
    transform: translateY(4px);
}

.control-buttons-inner {
    width: 95%;
    height: 82%;
    border-radius: 10px;
    background-color: #c8c3b8a3;
    border: 5px #8C867C  solid;
    display: flex;
    flex-direction: row;
    padding: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;


    justify-content: space-between;
}

.control-button {
    width: 40%;
    border: none;
    height: 100%;
    background-color: #3B3835;
    border-radius: 20px;
   

    box-shadow: 
    inset 2px 2px 0px rgba(255,255,255,0.2), 
    3px 3px 0px rgba(0,0,0,0.5);             
  
  transition: all 0.05s ease; 
}

#control-label{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  
    
}

#control-label span{
    font-size: 2rem;
    color: #8c1f1c;
}

.control-button:hover {
  background-color: #4f4b47;
}

.control-button.active{
    box-shadow: inset 3px 3px 0px rgba(0,0,0,0.4);
  transform: translateY(1px) translateX(1px);
}

.control-button:active {
  box-shadow: inset 3px 3px 0px rgba(0,0,0,0.4);
  transform: translateY(1px) translateX(1px);
}


.main-section {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;

}



.main-text {
    height: 40%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 20%;
    color: #C0302A;
}

.main-buttons {
    height: 40%;

    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1.6rem;
    padding-top: 7rem;
    justify-content: space-between;
}

.main-button-cont {

    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 8px;
    background-color: #b1aca2;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.main-button-cont button {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: #ff0000;
    border: 4px solid #8c1f1c;
    
   
    font-size: 16px;
    color: #000;
    font-family: 'Press Start 2P', monospace; 
    
    cursor: pointer;
    
   
    box-shadow: 
        inset -4px -4px 0px rgba(0,0,0,0.2), 
        inset 4px 4px 0px rgba(255,255,255,0.4);
        
    transition: all 0.05s ease;
}

.main-button-cont button:hover {
    background-color: #ff3333;
    transform: translate(-1px,-1px);
}

.main-button-cont button.active{
    box-shadow: 
        inset 6px 6px 0px rgba(0,0,0,0.4),
        0px 0px 0px rgba(0,0,0,0); 
}


.main-button-cont button:active {
    box-shadow: 
        inset 6px 6px 0px rgba(0,0,0,0.4),
        0px 0px 0px rgba(0,0,0,0); 
    
}

.movement-section {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding: 6rem;
}


.dpad {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;


}

.cross-vertical {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cross-vertical-line {
    height: 100%;
    width: 40%;
    border: 5px #D6D0C4 solid;
    border-radius: 4px;
}

.cross-horizontal {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cross-horizontal-line {

    width: 100%;
    border: 5px #D6D0C4 solid;
    height: 36%;
    border-radius: 4px;
  
}

.dpad-cross {
    width: 100%;
    height: 100%;
}



.dpad-main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.main-vertical {
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    pointer-events: none;
   
   
}

.main-vertical-line {
     background-color: #000;
    width: calc(40% - 8px);
    height: calc(100% - 8px);
     z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: all;
}



.main-horizontal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.main-horizontal-line {
    background-color: transparent;
    height: calc(36% - 8px);
    width: calc(100% - 7px);
    z-index: 1;
    display: flex;
    justify-content: space-between;

    
}


.main-vertical-line button {
    height: 34%;
    width: 100%;
    background-color: #1E1D1B;
    
    /* border: 4px grey solid; */
    cursor: pointer;
    position: relative;
    transition: background 80ms, filter 80ms;
    display: flex;
    align-items: center;
    justify-content: center;


    transition: box-shadow 60ms, background-color 60ms;
}

.main-horizontal-line button {
    height: 100%;
    width: 32%;
    background-color: #1E1D1B;
    
    cursor: pointer;
    position: relative;
    transition: background 80ms, filter 80ms;
    display: flex;
    align-items: center;
    justify-content: center;

     
    transition: box-shadow 60ms, background-color 60ms;
    border: none;

}

#dpad-up{
      box-shadow:
         inset 0px 3px 0px #3d3b38,  
        inset 3px 0px 0px #3d3b38,  
        inset -3px 0px 0px #3d3b38, 
        inset 0px -3px 0px #111;    
}

#dpad-down{
     box-shadow:
        inset 0px -3px 0px #3d3b38, 
        inset 3px 0px 0px #3d3b38,
        inset -3px 0px 0px #3d3b38,
        inset 0px 3px 0px #111;     
}

#dpad-left{

    box-shadow:
        inset 3px 0px 0px #3d3b38,  
        inset 0px 3px 0px #3d3b38,
        inset 0px -3px 0px #3d3b38,
        inset -3px 0px 0px #111; 
}

#dpad-right{
    border: none;
    box-shadow:
        inset -3px 0px 0px #3d3b38,
        inset 0px 3px 0px #3d3b38,
        inset 0px -3px 0px #3d3b38,
        inset 3px 0px 0px #111; 
}

.dpad-up::after {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #8C867C;
}

.main-vertical-line button:last-child::after {  
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid #8C867C;
}

.main-horizontal-line button:first-child::after {  
    content: '';
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 9px solid #8C867C;
}

.main-horizontal-line button:last-child::after {  
    content: '';
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 9px solid #8C867C;
}

#dpad-up.active{
    background-color: #171615;
    box-shadow:
        inset 0px 2px 0px #111,    
        inset 2px 0px 0px #111,
        inset -2px 0px 0px #111,
        inset 0px -2px 0px #3d3b38;
}

#dpad-down.active{
     background-color: #171615;
    box-shadow:
        inset 0px -2px 0px #111,
        inset 2px 0px 0px #111,
        inset -2px 0px 0px #111,
        inset 0px 2px 0px #3d3b38;
}

#dpad-left.active{
 background-color: #171615;
    box-shadow:
        inset 2px 0px 0px #111,
        inset 0px 2px 0px #111,
        inset 0px -2px 0px #111,
        inset -2px 0px 0px #3d3b38; 
}

#dpad-right.active{
     background-color: #171615;
    box-shadow:
        inset -2px 0px 0px #111,
        inset 0px 2px 0px #111,
        inset 0px -2px 0px #111,
        inset 2px 0px 0px #3d3b38;
}

#dpad-up:active {
    background-color: #171615;
    box-shadow:
        inset 0px 2px 0px #111,    
        inset 2px 0px 0px #111,
        inset -2px 0px 0px #111,
        inset 0px -2px 0px #3d3b38;
}

#dpad-down:active {
    background-color: #171615;
    box-shadow:
        inset 0px -2px 0px #111,
        inset 2px 0px 0px #111,
        inset -2px 0px 0px #111,
        inset 0px 2px 0px #3d3b38;
}

#dpad-left:active {
    background-color: #171615;
    box-shadow:
        inset 2px 0px 0px #111,
        inset 0px 2px 0px #111,
        inset 0px -2px 0px #111,
        inset -2px 0px 0px #3d3b38;
}

#dpad-right:active {
    background-color: #171615;
    box-shadow:
        inset -2px 0px 0px #111,
        inset 0px 2px 0px #111,
        inset 0px -2px 0px #111,
        inset 2px 0px 0px #3d3b38;
}


#dpad-up:active::after    { transform: translateY(1px);  opacity: 0.6; }
#dpad-down:active::after  { transform: translateY(-1px); opacity: 0.6; }
#dpad-left:active::after  { transform: translateX(1px);  opacity: 0.6; }
#dpad-right:active::after { transform: translateX(-1px); opacity: 0.6; }