.rom-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.735);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease;
}



.romCarousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 60%;
  gap: 40px;
  perspective: 800px;
}

.romCarousel::-webkit-scrollbar {
  display: none;
}

.romItem {
  aspect-ratio: 2/2.4;
  width: 22%;        
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  transform-origin: center center;
  z-index: 4;
}

.nav-btn:hover canvas {
    filter: brightness(1.3);
    transform: scale(1.05);
    transition: all 0.15s ease;
}

.nav-btn canvas {
    transition: transform 0.15s ease, filter 0.15s ease;
}

.romItem.rotated{
    transform: rotateX(-90deg);
}


.rom-spine {
  position: absolute;
  top: 0;
  width: 100%;
  height: 32px;          
  background: #1a1a1a;
  color: #ccc;
  font-size: 11px;
  letter-spacing: 2px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(90deg) translateZ(16px);
  transform-origin: bottom center;
  backface-visibility: visible;
  border: #929090 3px solid;
}

.rom-spine::before {
    content: "";
    position: absolute;
  
    width: 100%;
    height: 100%;


    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.2;


    pointer-events: none;
}

.romItem span {
  position: absolute;
  white-space: nowrap;
  font-size: 22px;
  font-weight: bold;
  z-index: 100;
  color: white;
  top: -30px;
  text-shadow: 2px 2px 0 #000;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.romItem.side{
    scale: 0.6;
    opacity: 0.6;
}



.romItem.active span {
  opacity: 1;
}

.rom-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:
        url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),

        repeating-linear-gradient(0deg,
            rgba(0, 0, 0, 0.1) 0px,
            rgba(0, 0, 0, 0.1) 1px,
            transparent 1px,
            transparent 8px);
    background-color: #2a2a2a;
    opacity: 0.08;
}


.romImg {
    position: absolute;
    width: 52%;
    height: 70%;
    background-color: aqua;
    right: 10%;
}



.romImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rom-top {
    height: 80%;
    width: 100%;
    background-color: rgb(29, 35, 40);


}

.rom-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;


    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");


    opacity: 0.15;


    pointer-events: none;
}

.rom-bottom {
    width: 80%;
    background-color: rgb(29, 35, 40);
    flex: 1;

}

.rom-bottom::before {
    content: "";
    position: absolute;
    top: 80%;
    left: 10%;
    width: 80%;
    height: 20%;


    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.2;


    pointer-events: none;
}

.rom-grain {
    position: absolute;
    height: 100%;
    width: 22%;
    background-color: grey;
    background-image: repeating-linear-gradient(0deg,
            transparent 0px,
            transparent 6px,
            rgba(0, 0, 0, 0.1) 7px,
            rgba(0, 0, 0, 0.4) 9px);
    left: 15%;
}

.rom-grain-offset {
    position: absolute;
    width: 22%;
    left: 15%;
    height: 24%;
    background-color: #121111;
    opacity: 0.35;
}

.rom-arrow {
    width: 24px;
    height: 24px;
    top: 75%;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 24px solid #121111;


    position: absolute
}
.nav-panel{
    width: 100%;
    height:100%;
    position: fixed;
   
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7rem;
}

.nav-btn {
 z-index: 9999;
  width: 60px;
  height: 60px;
 
  font-weight: bold;
  cursor: pointer;
  
  
}

.nav-btn canvas{
    width: 100%;
    height: 100%;
}
